{% extends "temperature/base.html" %}
{% block content %}
<body>
    <h1>Garage</h1>
    <div class="card-group">
        <div class="card">
            <h2>Garage Door</h2>
            {% if state == "Closed" %}
                <i class="fas fa-door-closed temp-icon"></i>
            {% elif state == "Open" %}
                <i class="fas fa-door-open temp-icon"></i>
            {% endif %}
            <p style="font-size: 25px">{{ state }}</p>
            <p>{{ time }}</p>
        </div>
    </div>
</body>
{% endblock %}
